.select2-container--default .select2-results__option[aria-disabled=true] {
    display: none;
}

.vertical-center {
  display: flex;
  align-items: center;
}

.index-body{
  background-color: rgb(54, 82, 100);
}

.form-bg{
  background-color: white;
}

.signup-form{
    font-family: 'Open Sans', sans-serif;
}
.login-img-bg{
  background-color: rgb(255,90,95);
}
form label {font-weight:bold}
