.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}
.form-header{

}
.info-form{
  font-family: 'Open Sans', sans-serif;
}

.response {
  color: red;
}

.form-border{
  border-style: solid;
  border-width: 7px;
  border-color: rgb(255, 183, 50);
}
.form-bg{
  background-color: rgb(232, 218, 178);
}
.form-header-bg{
  background-color: rgb(255,90,95);
}
